# Node / React
node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AresMUSH
tmp/
log/
.backups/
.ruby-version
*.swp
.DS_Store

# Firebase Studio / VS Code / IDX
.vscode/
.firebaserc
.firebase/
.idea/
.env
*.pid

# Mac / Linux metadata
*.sublime-workspace
*.sublime-project
*.orig
*.bak
*.tmp
